<!doctype html>
<html lang=ko>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- css -->
  <link rel="stylesheet" href="../../resources/css/main.css">
  <link rel="stylesheet" href="../../resources/lib/swiper/swiper.css">

  <!-- lib -->
  <script src="../../resources/lib/jquery-1.11.3.min.js"></script>
  <script src="../../resources/lib/swiper/swiper.js"></script>

  <!-- tui calenadar -->
  <link rel="stylesheet" href="https://uicdn.toast.com/calendar/v2.1.3/toastui-calendar.min.css">
  <script src="https://uicdn.toast.com/calendar/v2.1.3/toastui-calendar.min.js"></script>

  <!-- gsap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>

  <!-- js -->
  <script src="../../resources/js/main.js"></script>

  <title>미래서울도시관 - 미래서울관</title>
</head>
<body>
<!-- [웹 접근성] : 본문 바로가기 -->
<a href="#main" id="skip-nav">본문 바로가기</a>
<!-- 헤더 -->
<div class="top-wrap pc-tablet-flex-only">
  <div class="inner-wrap">
    <div class="right">
      <h2><img src="../../resources/images/logo/seoul_logo.svg" alt="서울특별시"></h2>
      <div class="notice-wrap">
        <p class="ico-text speaker">2025년 서울시 시민참여예산위원회 위원 공개모집</p>
      </div>
    </div>
    <div class="left">
      <ul>
        <li><a href="#">서울소식</a></li>
        <li><a href="#">응답소</a></li>
        <li><a href="#">정보공개</a></li>
        <li><a href="#">분야별정보</a></li>
      </ul>
    </div>
  </div>
</div>
<header>
  <!-- [사이드바] dim 처리 영역 -->
  <div id="dim-overlay" class="dim" onclick="closeSideBar();"></div>
  <div class="inner-wrap">
    <!-- 로고 -->
    <h1>
      <a href="#">
        <img src="../../resources/images/logo/logo_pc.svg" alt="logo">
      </a>
    </h1>
    <!-- gnb -->
    <nav>
      <!-- pc -->
      <ul class="pc-nav pc-flex-only">
        <li>
          <button type="button">서울 갤러리</button>
          <ul>
            <li><a href="#">갤러리 소개</a></li>
            <li><a href="#">시설 안내</a></li>
            <li><a href="#">공간 안내</a></li>
            <li><a href="#">찾아오시는 길</a></li>
          </ul>
        </li>
        <li>
          <button type="button">미래서울도시관</button>
          <ul>
            <li><a href="#">미래서울관</a></li>
            <li><a href="#">세계도시관</a></li>
          </ul>
        </li>
        <li>
          <button type="button">공간대관</button>
          <ul>
            <li><a href="#">대관안내</a></li>
          </ul>
        </li>
        <li class="long">
          <button type="button">프로그램</button>
          <ul>
            <li><a href="#">서울갤러리 일정</a></li>
            <li><a href="#">프로그램 안내</a></li>
          </ul>
        </li>
        <li class="long">
          <button type="button">알림마당</button>
          <ul>
            <li><a href="#">공지사항</a></li>
            <li><a href="#">언론보도</a></li>
            <li><a href="#">미디어 갤러리</a></li>
          </ul>
        </li>
      </ul>

      <!-- mobile -->
      <div class="sidebar tablet-mo-only">
        <div class="sidebar-top">
          <!-- 언어 설정 -->
          <div class="tab-wrap">
            <button type="button" class="active">KR</button>
            <button type="button">EN</button>
          </div>
          <!-- 닫기 버튼 -->
          <button type="button" class="ico-btn circle bg-black ico-close" onclick="closeSideBar()"><span class="visually-hidden">닫기</span></button>
        </div>
        <ul class="accordion-nav-list">
          <li class="active">
            <button type="button" class="active">서울 갤러리</button>
            <ul>
              <li class="active"><a href="#">갤러리 소개</a></li>
              <li><a href="#">시설 안내</a></li>
              <li><a href="#">공간 안내</a></li>
              <li><a href="#">찾아오시는 길</a></li>
            </ul>
          </li>
          <li>
          <button type="button">미래서울도시관</button>
          <ul>
            <li><a href="#">미래서울관</a></li>
            <li><a href="#">세계도시관</a></li>
          </ul>
        </li>
          <li>
            <button type="button">공간대관</button>
            <ul>
              <li><a href="#">대관안내</a></li>
            </ul>
          </li>
          <li class="long">
            <button type="button">프로그램</button>
            <ul>
              <li><a href="#">서울갤러리 일정</a></li>
              <li><a href="#">프로그램 안내</a></li>
            </ul>
          </li>
          <li class="long">
            <button type="button">알림마당</button>
            <ul>
              <li><a href="#">공지사항</a></li>
              <li><a href="#">언론보도</a></li>
              <li><a href="#">미디어 갤러리</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="custom-select pc-flex-only" data-select="small-round" data-options="1">
      <button type="button" class="select-toggle" aria-haspopup="listbox" aria-expanded="false">
        <span class="selected-text"></span>
      </button>
      <ul class="select-list" role="listbox" aria-hidden="true"></ul>
    </div>

    <!-- hamburger (mobile) -->
    <button type="button" class="ico-btn ico-hamburger tablet-mo-flex-only" onclick="openSideBar()"><span class="visually-hidden">메뉴 열기</span></button>
  </div>
</header>

<!-- 메인 -->
<main id="main" class="sub-page">
  <!-- 서브 타이틀 -->
  <div class="sub-title-wrap">
    <img src="../../resources/images/main-page/sub-bg-mo.png" alt="" class="mo-only">
    <div class="sub-title">
      <span class="symbol">미래서울도시관</span>
      <h2>미래서울관</h2>
    </div>
  </div>

  <!-- 서브 페이지 컨텐츠 -->
  <div class="sub-inner-wrap no-mt whole-ver">
    <section class="sec-future">
      <div class="future-wrap">
        <div class="future-box">
          <span>서울의 미래를 보고,</span>
          <div class="img-box">
            <img src="../../resources/images/sub-page/future/future-img1.png" alt="">
            <span>미래체험공간</span>
          </div>
        </div>
        <div class="future-box">
          <div class="img-box">
            <img src="../../resources/images/sub-page/future/future-img2.png" alt="">
            <span>정책소통공간</span>
          </div>
          <span>공유하고,</span>
        </div>
        <div class="future-box">
          <span>참여하는 공간</span>
          <div class="img-box">
            <img src="../../resources/images/sub-page/future/future-img1.png" alt="">
            <span>시민동행 공간</span>
          </div>
        </div>
      </div>
      <!-- 흐르는 텍스트 -->
      <div class="no-scroll-box">
        <div class="marquee-container ">
          <div class="marquee-wrapper">
            <img src="../../resources/images/sub-page/future/flow-text.svg" class="marquee-text" alt="SEOUL GALLERY">
            <img src="../../resources/images/sub-page/future/flow-text.svg" class="marquee-text" alt="SEOUL GALLERY">
            <img src="../../resources/images/sub-page/future/flow-text.svg" class="marquee-text" alt="SEOUL GALLERY">
          </div>
        </div>
      </div>
    </section>
    <section class="sec-future-space">
      <div class="future-space-wrap">
        <!-- 탭 영역 -->
        <div class="future-space-tab">
          <div role="tablist" aria-label="탭 메뉴">
            <button id="tab1" role="tab" aria-controls="panel1" aria-selected="true" tabindex="0" type="button">메인·상설전시<span class="visually-hidden">선택됨</span></button>
            <button id="tab2" role="tab" aria-controls="panel2" aria-selected="false" tabindex="0" type="button">정책발표·기획전시</button>
            <button id="tab3" role="tab" aria-controls="panel3" aria-selected="false" tabindex="0" type="button">체험전시</button>
            <button id="tab4" role="tab" aria-controls="panel4" aria-selected="false" tabindex="0" type="button">디지털정원</button>
          </div>
        </div>
        <!-- // 탭 영역-->
        <div class="tab" id="panel1" role="tabpanel" aria-labelledby="tab1">
          <div class="sec-future-tab">
            <!-- 페이지 네이션 -->
            <ul class="future-text-pagination">
              <li class="active">
                <button type="button">
                  <span class="tit">플레이 한강</span>
                  <span class="desc">
                    2개 층위의 서울시 모형과 최첨단 디지털 기술이 결합된 미디어 연출로<br>
                    미래 서울의 모습을 실감나게 경험할 수 있는 공간입니다.
                  </span>
                </button>
              </li>
              <li>
                <button type="button">
                  <span class="tit">미래서울모형</span>
                  <span class="desc">
                      방문객의 움직임에 따라 시시각각 새로운 체험을 할 수 있는<br>
                      반응형 콘텐츠로 한강의 매력을 마음껏 느낄 수 있습니다.
                    </span>
                </button>
              </li>
              <li>
                <button type="button">
                  <span class="tit">조망포인트</span>
                  <span class="desc">
                      서울시 전체가 내려다보이는 2개의 조망포인트로<br>
                      미래 서울의 모습을 한눈에 조망할 수 있습니다.
                    </span>
                </button>
              </li>
            </ul>
            <!-- 스와이퍼 -->
            <div class="sec-future-img-wrapper" >
              <div class="sec-future-img-swiper swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="img-box">
                      <img src="../../resources/images/sub-page/future/future-tab1-img1.png" alt="">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img-box">
                      <img src="../../resources/images/sub-page/future/future-img1.png" alt="">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img-box">
                      <img src="../../resources/images/sub-page/future/future-tab1-img1.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <!-- 애니메이션 뱃지 -->
              <span class="rotate-symbol"><img src="../../resources/images/sub-page/future/rotate_future.svg" alt=""></span>
            </div>
          </div>
        </div>
        <div class="tab" id="panel2" role="tabpanel" aria-labelledby="tab2">
          <div class="sec-future-tab">
            <!-- 페이지 네이션 -->
            <ul class="future-text-pagination">
              <li class="active">
                <button type="button">
                  <span class="tit">정책발표</span>
                  <span class="desc">
                    서울시 주요 정책을 가장 효과적으로 전달할 수 있는<br> 정책발표 공간입니다.
                  </span>
                </button>
              </li>
              <li>
                <button type="button">
                  <span class="tit">기획전시</span>
                  <span class="desc">
                    발표가 없는 평상 시에는 기획전시 공간으로 활용되어<br>
                    주요 정책에 대한 심화 전시 및 미디어 아트 등 다양한 전시가 진행됩니다.
                  </span>
                </button>
              </li>
            </ul>
            <!-- 스와이퍼 -->
            <div class="sec-future-img-wrapper" >
              <div class="sec-future-img-swiper swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="img-box">
                      <img src="../../resources/images/sub-page/future/future-tab1-img1.png" alt="">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img-box">
                      <img src="../../resources/images/sub-page/future/future-img1.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <!-- 애니메이션 뱃지 -->
              <span class="rotate-symbol"><img src="../../resources/images/sub-page/future/rotate_future.svg" alt=""></span>
            </div>
          </div>
        </div>
        <div class="tab" id="panel3" role="tabpanel" aria-labelledby="tab3">
          <div class="sec-future-tab">
            <!-- 페이지 네이션 -->
            <ul class="future-text-pagination">
              <li class="active">
                <button type="button">
                  <span class="tit">AI 키오스크</span>
                  <span class="desc">
                    AI키오스크를 통해 전시를 관람하며 서울의 정책과 사업 추진에 따라<br>
                    내가 사는 동네의 변화될 모습을 확인해 볼 수 있습니다.
                  </span>
                </button>
              </li>
              <li>
                <button type="button">
                  <span class="tit">서울포토</span>
                  <span class="desc">
                    서울도시모형과 함께 사진을 찍어 나만의 서울을 간직할 수 있는<br> 포토 키오스크입니다.
                  </span>
                </button>
              </li>
              <li>
                <button type="button">
                  <span class="tit">AI 여행플래너 • 라이브서울</span>
                  <span class="desc">
                    서울의 주요 여행지와 서울시의 다양한 영상 콘텐츠를 만나볼 수 있는<br> 공간입니다.
                  </span>
                </button>
              </li>
            </ul>
            <!-- 스와이퍼 -->
            <div class="sec-future-img-wrapper" >
              <div class="sec-future-img-swiper swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="img-box">
                      <img src="../../resources/images/sub-page/future/future-tab1-img1.png" alt="">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img-box">
                      <img src="../../resources/images/sub-page/future/future-img1.png" alt="">
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img-box">
                      <img src="../../resources/images/sub-page/future/future-tab1-img1.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <!-- 애니메이션 뱃지 -->
              <span class="rotate-symbol"><img src="../../resources/images/sub-page/future/rotate_future.svg" alt=""></span>
            </div>
          </div>
        </div>
        <div class="tab" id="panel4" role="tabpanel" aria-labelledby="tab4">
          <div class="sec-future-tab">
            <!-- 페이지 네이션 -->
            <ul class="future-text-pagination">
              <li class="active">
                <button type="button">
                  <span class="tit">디지털 정원</span>
                  <span class="desc">
                    서울의 계절별 매력식물들을 디지털 조경으로<br> 만나 볼 수 있는 공간입니다.
                  </span>
                </button>
              </li>
            </ul>
            <!-- 스와이퍼 -->
            <div class="sec-future-img-wrapper" >
              <div class="sec-future-img-swiper swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="img-box">
                      <img src="../../resources/images/sub-page/future/future-tab1-img1.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <!-- 애니메이션 뱃지 -->
              <span class="rotate-symbol"><img src="../../resources/images/sub-page/future/rotate_future.svg" alt=""></span>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</main>

<!-- 푸터 -->
<footer>
  <div class="inner-wrap">
    <div class="footer-right">
      <h2>
        <img src="../../resources/images/logo/footer_logo.svg" alt="서울갤러리 로고">
      </h2>
      <div class="footer-info">
        <ul>
          <li><a href="#" class="line-badge sm-ver c-white">개인정보처리방침</a></li>
          <li><a href="#" class="line-badge sm-ver c-white">영상정보처리기기 운영 관리방침</a></li>
        </ul>
        <p>서울특별시 중구 세종대로 110 서울특별시청 지하1, 2, 4층<br>© 2025 SEOUL GALLERY. All Rights Reserved</p>
        <a href="#" class="btn bg-black-transparent sm-ver insert-ico">서울갤러리 문의하기<span class="arrow-right ico"></span></a>
      </div>
    </div>
    <div class="footer-left">
      <div class="news-letter-box">
        <span class="tit">NEWSLETTER</span>
        <span class="desc">서울갤러리의 소식과 이야기를 뉴스레터로 받아보세요</span>
        <div class="news-letter-input-wrap">
          <div>
            <label>
              <input type="text" placeholder="E-MAIL">
            </label>
            <button type="button" class="ico-btn bg-black link circle"><span class="visually-hidden">이메일 전송하기</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  /* ------------------------------------------------------------- */
  /* [상단 스크립트 목록 정리]
  * 1. 떠오르는 글자 영역 (라이브러리 명: Gsap)
  * 2. 스와이퍼 + 탭
  *  */
  /* ------------------------------------------------------------- */

  /* 1. 떠오르는 글자 영역 (라이브러리 명: Gsap) */
  document.addEventListener('DOMContentLoaded', () => {
    const boxes = document.querySelectorAll('.future-box');

    // 페이지 최초 로드 시 한 번만 실행
    gsap.fromTo(
      boxes,
      { y: 100, opacity: 0 }, // 초기 상태
      {
        y: 0,
        opacity: 1,
        duration: 0.8,
        ease: "power3.out",
        stagger: 0.3 // 순차적 등장
      }
    );
  });

  /* 2. 스와이퍼 + 탭 */
  document.addEventListener("DOMContentLoaded", () => {
    const tabs = Array.from(document.querySelectorAll('[role="tab"]'));
    const panels = Array.from(document.querySelectorAll('[role="tabpanel"]'));

    if (!tabs.length || !panels.length) return;

    let activeSwiper = null; // 현재 활성화된 Swiper

    const swipers = {}; // 각 탭별 Swiper 저장

    function initSwiper(tabPanel) {
      const swiperEl = tabPanel.querySelector(".sec-future-img-swiper");
      const paginationItems = tabPanel.querySelectorAll(".future-text-pagination li");
      if (!swiperEl || paginationItems.length === 0) return;

      const slides = swiperEl.querySelectorAll(".swiper-slide img");

      // 이미 생성된 Swiper가 있으면 destroy
      const tabId = tabPanel.parentElement.id; // panel1, panel2 ...
      if (swipers[tabId]) swipers[tabId].destroy(true, true);

      const swiper = new Swiper(swiperEl, {
        loop: false,
        speed: 600,
        effect: "fade",
        fadeEffect: { crossFade: true },
        on: {
          slideChange: function () {
            const activeIndex = this.realIndex;
            paginationItems.forEach((li, i) => li.classList.toggle("active", i === activeIndex));
            slides.forEach((img, i) => {
              img.style.opacity = i === activeIndex ? "1" : "0";
              img.style.transition = "opacity 0.5s ease";
            });
          }
        }
      });

      // 초기 슬라이드 opacity 설정
      slides.forEach((img, i) => {
        img.style.opacity = i === 0 ? "1" : "0";
        img.style.transition = "opacity 0.5s ease";
      });

      // pagination 이벤트
      paginationItems.forEach((item, index) => {
        const btn = item.querySelector("button");
        btn.onclick = () => {
          if (!swiper) return; // swiper가 없으면 클릭 무시
          paginationItems.forEach(li => li.classList.remove("active"));
          item.classList.add("active");
          requestAnimationFrame(() => swiper.slideTo(index));
        };
      });

      swipers[tabId] = swiper; // 저장
    }

// 탭 클릭 시
    tabs.forEach(tab => {
      tab.addEventListener("click", () => {
        activateTab(tab);
        const targetId = tab.getAttribute("aria-controls");
        const targetPanel = document.getElementById(targetId);
        if (targetPanel) initSwiper(targetPanel);
      });
    });


    function activateTab(tab) {
      tabs.forEach(tab => {
        tab.setAttribute("aria-selected", "false");
        tab.classList.remove("active");
      });
      panels.forEach(p => p.hidden = true);

      // 선택 탭 활성화
      tab.setAttribute("aria-selected", "true");
      tab.tabIndex = 0;
      tab.classList.add("active");

      const targetId = tab.getAttribute("aria-controls");
      if (!targetId) return;

      const targetPanel = document.getElementById(targetId);
      if (!targetPanel) return;

      targetPanel.hidden = false;

      // 이전 Swiper destroy
      if (activeSwiper) {
        activeSwiper.destroy(true, true);
        activeSwiper = null;
      }

      // 새 Swiper 초기화
      activeSwiper = initSwiper(targetPanel);
    }

    // 탭 클릭 이벤트
    tabs.forEach(tab => tab.addEventListener("click", () => activateTab(tab)));

    // 키보드 이동
    tabs.forEach((tab, index) => {
      tab.addEventListener("keydown", e => {
        let newIndex = null;
        if (e.key === "ArrowRight") newIndex = (index + 1) % tabs.length;
        else if (e.key === "ArrowLeft") newIndex = (index - 1 + tabs.length) % tabs.length;
        else return;
        e.preventDefault();
        tabs[newIndex].focus();
        activateTab(tabs[newIndex]);
      });
    });

    // 초기 활성 탭
    const initialTab = tabs.find(tab => tab.getAttribute("aria-selected") === 'true') || tabs[0];
    if (initialTab) activateTab(initialTab);
  });
</script>
</body>
</html>
