<!doctype html>
<html lang=ko>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- css -->
  <link rel="stylesheet" href="../../resources/css/main.css">
  <link rel="stylesheet" href="../../resources/lib/swiper/swiper.css">

  <!-- lib -->
  <script src="../../resources/lib/jquery-1.11.3.min.js"></script>
  <script src="../../resources/lib/swiper/swiper.js"></script>

  <!-- tui calenadar -->
  <link rel="stylesheet" href="https://uicdn.toast.com/calendar/v2.1.3/toastui-calendar.min.css" />
  <script src="https://uicdn.toast.com/calendar/v2.1.3/toastui-calendar.min.js"></script>

  <!-- js -->
  <script src="../../resources/js/main.js"></script>

  <title>문의하기1</title>
</head>
<body>
<!-- [웹 접근성] : 본문 바로가기 -->
<a href="#main" id="skip-nav">본문 바로가기</a>
<!-- 헤더 -->
<div class="top-wrap pc-tablet-flex-only">
  <div class="inner-wrap">
    <div class="right">
      <h2><img src="../../resources/images/logo/seoul_logo.svg" alt="서울특별시"/></h2>
      <div class="notice-wrap">
        <p class="ico-text speaker">2025년 서울시 시민참여예산위원회 위원 공개모집</p>
      </div>
    </div>
    <div class="left">
      <ul>
        <li><a href="#">서울소식</a></li>
        <li><a href="#">응답소</a></li>
        <li><a href="#">정보공개</a></li>
        <li><a href="#">분야별정보</a></li>
      </ul>
    </div>
  </div>
</div>
<header>
  <!-- [사이드바] dim 처리 영역 -->
  <div id="dim-overlay" class="dim" onclick="closeSideBar();"></div>
  <div class="inner-wrap">
    <!-- 로고 -->
    <h1>
      <a href="#">
        <img src="../../resources/images/logo/logo_pc.svg" class="first" alt="logo">
        <img src="../../resources/images/logo/logo_pc_dark.svg" class="second" alt="logo">
      </a>
    </h1>
    <!-- gnb -->
    <nav>
      <!-- pc -->
      <ul class="pc-nav pc-only">
        <li>
          <button type="button">서울 갤러리</button>
          <ul>
            <li><a href="#">갤러리 소개</a></li>
            <li><a href="#">시설 안내</a></li>
            <li><a href="#">공간 안내</a></li>
            <li><a href="#">찾아오시는 길</a></li>
          </ul>
        </li>
        <li>
          <button type="button">미래서울도서관</button>
          <ul>
            <li><a href="#">미래서울관</a></li>
            <li><a href="#">서울도서관</a></li>
          </ul>
        </li>
        <li>
          <button type="button">공간대관</button>
          <ul>
            <li><a href="#">대관안내</a></li>
          </ul>
        </li>
        <li class="long">
          <button type="button">프로그램</button>
          <ul>
            <li><a href="#">서울갤러리 일정</a></li>
            <li><a href="#">프로그램 안내</a></li>
          </ul>
        </li>
        <li class="long">
          <button type="button">알림마당</button>
          <ul>
            <li><a href="#">공지사항</a></li>
            <li><a href="#">언론보도</a></li>
            <li><a href="#">미디어 갤러리</a></li>
          </ul>
        </li>
      </ul>

      <!-- mobile -->
      <div class="sidebar tablet-mo-only">
        <div class="sidebar-top">
          <!-- 언어 설정 -->
          <div class="tab-wrap">
            <button type="button" class="active">KR</button>
            <button type="button">EN</button>
          </div>
          <!-- 닫기 버튼 -->
          <button type="button" class="ico-btn circle bg-black ico-close" onclick="closeSideBar()"><span class="visually-hidden">닫기</span></button>
        </div>
        <ul class="accordion-nav-list">
          <li class="active">
            <button type="button" class="active">서울 갤러리</button>
            <ul>
              <li class="active"><a href="#">갤러리 소개</a></li>
              <li><a href="#">시설 안내</a></li>
              <li><a href="#">공간 안내</a></li>
              <li><a href="#">찾아오시는 길</a></li>
            </ul>
          </li>
          <li>
            <button type="button">미래서울도서관</button>
            <ul>
              <li><a href="#">미래서울관</a></li>
              <li><a href="#">서울도서관</a></li>
            </ul>
          </li>
          <li>
            <button type="button">공간대관</button>
            <ul>
              <li><a href="#">대관안내</a></li>
            </ul>
          </li>
          <li class="long">
            <button type="button">프로그램</button>
            <ul>
              <li><a href="#">서울갤러리 일정</a></li>
              <li><a href="#">프로그램 안내</a></li>
            </ul>
          </li>
          <li class="long">
            <button type="button">알림마당</button>
            <ul>
              <li><a href="#">공지사항</a></li>
              <li><a href="#">언론보도</a></li>
              <li><a href="#">미디어 갤러리</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="custom-select pc-flex-only" data-select="small-round" data-options="1">
      <button type="button" class="select-toggle" aria-haspopup="listbox" aria-expanded="false">
        <span class="selected-text"></span>
      </button>
      <ul class="select-list" role="listbox" aria-hidden="true"></ul>
    </div>

    <!-- hamburger (mobile) -->
    <button type="button" class="ico-btn ico-hamburger tablet-mo-flex-only" onclick="openSideBar()"><span class="visually-hidden">메뉴 열기</span></button>
  </div>
</header>

<!-- 메인 -->
<main id="main" class="sub-page">
  <div class="sub-title-wrap">
    <img src="../../resources/images/main-page/sub-bg.png" alt="" class="pc-tablet-only"/>
    <img src="../../resources/images/main-page/sub-bg-mo.png" alt="" class="tablet-mo-only"/>
    <div class="sub-title">
      <span class="symbol">문의하기</span>
      <h2>센터가입</h2>
    </div>
  </div>

  <div class="sub-inner-wrap">
    <!-- List sort -->
    <div class="list-sort">
      <p class="total">Total<span class="c-purple">123</span></p>
      <div class="search-wrap">
        <div class="select-wrap">
          <select>
            <option>전체</option>
          </select>
        </div>
        <div class="search-input-wrap">
          <input type="text" placeholder="검색어를 입력해주세요."/>
        </div>
        <button type="button" class="btn normal-rounded bg-black">검색</button>
      </div>
    </div>
    <!-- 테이블 -->
    <div class="custom-table">
      <table class="pc-mo-only">
        <caption class="visually-hidden">문의하기</caption>
        <colgroup>
          <col style="width:104px;"/>
          <col style="width:auto;" />
          <col style="width:140px;"/>
          <col style="width:140px" />
        </colgroup>
        <!--
        <thead>
        <tr>

        </tr>
        </thead>
        -->
        <tbody>
        <tr>
          <td><div class="td-wrap">10</div></td>
          <td>
            <div class="td-wrap">
              <p class="ellipsis2 bold left">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
            </div>
          </td>
          <td><div class="td-wrap"><p class="center">김미래</p></div></td>
          <td><div class="td-wrap"><p class="right">2025.12.12</p></div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">10</div></td>
          <td>
            <div class="td-wrap">
              <p class="ellipsis2 bold left">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
            </div>
          </td>
          <td><div class="td-wrap"><p class="center">김미래</p></div></td>
          <td><div class="td-wrap"><p class="right">2025.12.12</p></div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">10</div></td>
          <td>
            <div class="td-wrap">
              <p class="ellipsis2 bold left">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
            </div>
          </td>
          <td><div class="td-wrap"><p class="center">김미래</p></div></td>
          <td><div class="td-wrap"><p class="right">2025.12.12</p></div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">10</div></td>
          <td>
            <div class="td-wrap">
              <p class="ellipsis2 bold left">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
            </div>
          </td>
          <td><div class="td-wrap"><p class="center">김미래</p></div></td>
          <td><div class="td-wrap"><p class="right">2025.12.12</p></div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">10</div></td>
          <td>
            <div class="td-wrap">
              <p class="ellipsis2 bold left">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
            </div>
          </td>
          <td><div class="td-wrap"><p class="center">김미래</p></div></td>
          <td><div class="td-wrap"><p class="right">2025.12.12</p></div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">10</div></td>
          <td>
            <div class="td-wrap">
              <p class="ellipsis2 bold left">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
            </div>
          </td>
          <td><div class="td-wrap"><p class="center">김미래</p></div></td>
          <td><div class="td-wrap"><p class="right">2025.12.12</p></div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">10</div></td>
          <td>
            <div class="td-wrap">
              <p class="ellipsis2 bold left">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
            </div>
          </td>
          <td><div class="td-wrap"><p class="center">김미래</p></div></td>
          <td><div class="td-wrap"><p class="right">2025.12.12</p></div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">10</div></td>
          <td>
            <div class="td-wrap">
              <p class="ellipsis2 bold left">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
            </div>
          </td>
          <td><div class="td-wrap"><p class="center">김미래</p></div></td>
          <td><div class="td-wrap"><p class="right">2025.12.12</p></div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">10</div></td>
          <td>
            <div class="td-wrap">
              <p class="ellipsis2 bold left">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
            </div>
          </td>
          <td><div class="td-wrap"><p class="center">김미래</p></div></td>
          <td><div class="td-wrap"><p class="right">2025.12.12</p></div></td>
        </tr>
        </tbody>
      </table>
      <table class="mo-pc-only">
        <tr>
          <td>
            <div class="td-wrap col">
              <span class="txt-xxs c-gray mb-4">10</span>
              <p class="ellipsis2 txt-xs c-black left mb-4">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
              <ul class="bar-list">
                <li class="c-gray txt-xxs">김미래</li>
                <li class="c-gray txt-xxs">2025.12.12</li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="td-wrap col">
              <span class="txt-xxs c-gray mb-4">9</span>
              <p class="ellipsis2 txt-xs c-black left mb-4">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
              <ul class="bar-list">
                <li class="c-gray txt-xxs">김미래</li>
                <li class="c-gray txt-xxs">2025.12.12</li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="td-wrap col">
              <span class="txt-xxs c-gray mb-4">8</span>
              <p class="ellipsis2 txt-xs c-black left mb-4">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
              <ul class="bar-list">
                <li class="c-gray txt-xxs">김미래</li>
                <li class="c-gray txt-xxs">2025.12.12</li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="td-wrap col">
              <span class="txt-xxs c-gray mb-4">7</span>
              <p class="ellipsis2 txt-xs c-black left mb-4">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
              <ul class="bar-list">
                <li class="c-gray txt-xxs">김미래</li>
                <li class="c-gray txt-xxs">2025.12.12</li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="td-wrap col">
              <span class="txt-xxs c-gray mb-4">6</span>
              <p class="ellipsis2 txt-xs c-black left mb-4">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
              <ul class="bar-list">
                <li class="c-gray txt-xxs">김미래</li>
                <li class="c-gray txt-xxs">2025.12.12</li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="td-wrap col">
              <span class="txt-xxs c-gray mb-4">5</span>
              <p class="ellipsis2 txt-xs c-black left mb-4">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
              <ul class="bar-list">
                <li class="c-gray txt-xxs">김미래</li>
                <li class="c-gray txt-xxs">2025.12.12</li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="td-wrap col">
              <span class="txt-xxs c-gray mb-4">4</span>
              <p class="ellipsis2 txt-xs c-black left mb-4">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
              <ul class="bar-list">
                <li class="c-gray txt-xxs">김미래</li>
                <li class="c-gray txt-xxs">2025.12.12</li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="td-wrap col">
              <span class="txt-xxs c-gray mb-4">3</span>
              <p class="ellipsis2 txt-xs c-black left mb-4">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
              <ul class="bar-list">
                <li class="c-gray txt-xxs">김미래</li>
                <li class="c-gray txt-xxs">2025.12.12</li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="td-wrap col">
              <span class="txt-xxs c-gray mb-4">2</span>
              <p class="ellipsis2 txt-xs c-black left mb-4">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
              <ul class="bar-list">
                <li class="c-gray txt-xxs">김미래</li>
                <li class="c-gray txt-xxs">2025.12.12</li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="td-wrap col">
              <span class="txt-xxs c-gray mb-4">1</span>
              <p class="ellipsis2 txt-xs c-black left mb-4">
                서울갤러리 전시에 대해서 궁금합니다. 서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.서울갤러리 전시에 대해서 궁금합니다.
              </p>
              <ul class="bar-list">
                <li class="c-gray txt-xxs">김미래</li>
                <li class="c-gray txt-xxs">2025.12.12</li>
              </ul>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <!-- 페이지네이션 -->
    <div class="pagination-wrap">
      <div class="pagination">
        <button type="button" class="pg_first"><span class="visually-hidden">처음으로 가기</span></button>
        <button type="button" class="pg_prev"><span class="visually-hidden">이전</span></button>
        <ul>
          <li><button type="button" class="active">1</button></li>
          <li><button type="button">2</button></li>
          <li><button type="button">3</button></li>
          <li><button type="button">4</button></li>
          <li><button type="button">5</button></li>
          <li><button type="button">...</button></li>
        </ul>
        <button type="button" class="pg_next"><span class="visually-hidden">다음</span></button>
        <button type="button" class="pg_last"><span class="visually-hidden">마지막으로 가기</span></button>
      </div>
      <div class="btn-wrap">
        <a href="#" class="btn bg-green insert-ico"><span class="ico-pen ico"></span>문의하기</a>
      </div>
    </div>
  </div>
</main>

<!-- 푸터 -->
<footer>
  <div class="inner-wrap">
    <div class="footer-right">
      <h2>
        <img src="../../resources/images/logo/footer_logo.svg" alt="서울갤러리 로고" class="pc-only"/>
        <img src="../../resources/images/logo/footer_logo.svg" alt="서울갤러리 로고" class="mo-only"/>
      </h2>
      <div class="footer-info">
        <ul>
          <li><a href="#" class="line-badge sm-ver c-white">개인정보처리방침</a></li>
          <li><a href="#" class="line-badge sm-ver c-white">이용약관</a></li>
        </ul>
        <h2 class="tablet-only"><img src="../../resources/images/logo/footer_logo_tablet.svg" alt="서울갤러리 로고" class="tablet-only"/></h2>
        <p>서울특별시 중구 세종대로 110 서울특별시청 지하1, 2, 4층<br/>© 2025 SEOUL GALLERY. All Rights Reserved</p>
        <a href="#" class="btn bg-black-transparent sm-ver insert-ico">서울갤러리 문의하기<span class="arrow-right ico"></span></a>
      </div>
    </div>
    <div class="footer-left">
      <div class="news-letter-box">
        <span class="tit">NEWSlETTER</span>
        <span class="desc">서울갤러리의 소식과 이야기를 뉴스레터를 받아보세요</span>
        <div class="news-letter-input-wrap">
          <input type="text" placeholder="E-MAIL"/>
          <button type="button" class="ico-btn bg-black link circle"><span class="visually-hidden">이메일 전송하기</span></button>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  // 헤더에 사용한 변수
  // 셀렉트 박스 변수 관리
  const selectOptions1 = [
    { value: '한국어',  tag: 'button' },/*discount: '-50%', */
    // { value: '옵션2', discount: '-50%', tag: 'a', href: 'https://example.com/link1' },
    { value: '영어',  tag: 'button' }
  ];


  // custom-select 요소를 개별적으로 호출
  initializeCustomSelect(document.querySelector('.custom-select[data-options="1"]'), selectOptions1, {
    initialValue:selectOptions1[0].value
  })

  /* 사이드바 탭 */
  document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll('.tab-wrap button');

    buttons.forEach(btn => {
      btn.addEventListener('click', () => {
        // 1️⃣ 모든 버튼에서 active 제거
        buttons.forEach(b => b.classList.remove('active'));

        // 2️⃣ 클릭한 버튼에 active 추가
        btn.classList.add('active');

        // 3️⃣ 필요하면 여기서 언어 전환 등의 기능 실행
        const lang = btn.textContent.trim();
        console.log(`현재 선택된 언어: ${lang}`);
      });
    });
  });
</script>
</body>
</html>
