:root {
  /* fonts weight */
  --fw-thin: 100;        /* 매우 얇음 */
  --fw-extra-light: 200; /* 매우 얇음 + */
  --fw-light: 300;       /* 얇음 */
  --fw-regular: 400;     /* 보통 */
  --fw-medium: 500;      /* 약간 굵음 */
  --fw-semi-bold: 600;   /* 반굵음 */
  --fw-bold: 700;        /* 굵음 */
  --fw-extra-bold: 800;  /* 매우 굵음 */
  --fw-black: 900;       /* 가장 굵음 */

  /* 색상 */
  --color-black: #000000;
  --color-black2:#111111;
  --color-black3:#333333;
  --color-white: #ffffff;
  --color-disabled: #aaaaaa;
  --color-border:#dddddd;
  --color-border2:#E6E6E6;
  --color-gray: #666666;
  --color-gray2: #555555;
  --color-gray3:#667085;
  --color-gray4:#222222;
  --color-gray5:#D0D5DD;
  --color-gray6:#444444;
  --color-gray7:#777676;
  --color-lightgray: #cccccc;
  --color-lightgray2:#98A2B3;
  --color-red: #D12A5F;
  --color-yellow:#FDB933;
  --color-green:#278352;
  --color-purple:#5925DC;
  --color-lightgreen:#EEFAF3;

  /* 배경 */
  --main-bg-color:#F6FBFF;
  --main-color:#344054;
  --input-bg-color:#F2F2F2;
  --card-bg:#E6E6E6;
  --box-bg:#FAFAFA;
  --box-bg2:#F2F4F7;
}